/* src/components/DeliveryForm.css */
.delivery-dashboard {
  display: flex;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.map-container {
  flex: 0.6; /* Adjust as needed */
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  width: 90%;
  height: 90%;
  border: 1px solid #ccc;
}

.form-panel {
  flex: 0.4; /* Adjust as needed */
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h3 {
  color: #333;
  margin: 0;
}

.logout-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #8b8989;
}

.delivery-details,
.clients-section,
.products-section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.delivery-details h4,
.clients-section h4,
.products-section h4 {
  color: #555;
  margin-top: 0;
  margin-bottom: 10px;
}

.client-count {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.client-count label {
  margin-right: 10px;
  font-size: 14px;
  color: #777;
}

.client-details {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.client-details h5 {
  color: #777;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group.row {
  flex-direction: row;
  gap: 10px;
}

.form-group label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.add-product-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-product-button .plus-icon {
  font-size: 18px;
}

.add-product-button:hover {
  background-color: #0056b3;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.submit-button .location-icon::before {
  content: "📍"; /* Using an emoji as a placeholder */
}

.submit-button:hover {
  background-color: #007bff;
}